<div 
  class="list-group-item flex-column align-items-start"
  [ngClass]="{'list-group-item-danger': car.isSold}"
  >
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{car.name}}</h5>
    <small>{{car.date}}</small>
  </div>
  <p class="mb-1">{{car.model}}</p>
  <!-- <small>Donec id elit non mi porta.</small> -->
  <hr>
  <button (click)="onDelete()" type="button" class="btn btn-danger btn-sm">Delete Car</button>
  <i> | </i>
  <button 
    (click)="onBuy()"
    type="button"
    class="btn btn-success btn-sm"
    [disabled]="car.isSold"
    >Buy Car</button>
</div>
