<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">With textarea</span>
  </div>
  <input
    type="text"
    class="form-control"
    id="car-name"
    [(ngModel)]="carName"
    placeholder="Car Name"
    >
  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
</div>

<div class="input-group mb-3">
    <div for="car-model" class="input-group-prepend">
        <span class="input-group-text">Car model</span>
    </div>
    <input
      type="text"
      class="form-control"
      id="car-model"
      [(ngModel)]="carModel"
      placeholder="Car Model"
      >
</div>
<div class="mb-3">
  <button type="button" (click)="onAdd()" class="btn btn-primary">Add Car</button>
  <span> | </span>
  <button type="button" (click)="onLoad()" class="btn btn-warning">Load Cars</button>
</div>
